<%- include('partials/header') -%>
<div class="navbar">
  <a class="navbar-brand mr-auto ml-auto" href="/">
    <h1>Chattr</h1>
  </a>
</div>
<div class="welcome">
  <h2>Welcome</h2>
  <div class="buttonsDiv">
    <button class="btn btn-primary">Sign Up</button>
    <button class="btn btn-success">Sign In</button>
  </div>
</div>
<%- include('partials/footer') -%>
