<%- include('partials/header') -%>
<div class="welcome">
  <h2>Welcome</h2>
  <div class="buttonsDiv">
    <a href="/signUp" class="btn btn-primary">Sign Up</a>
    <a href="/signIn" class="btn btn-success">Sign In</a>
  </div>
</div>
<%- include('partials/footer') -%>
