<%- include('partials/header') -%>
<div class="welcome form">
  <form action="/signIn" method="post">
    <%- include('partials/form-content') -%>
  </form>
  <% if(error) { %>
    <div class="error"><%= error %></div>
  <% } %>
</div>
<%- include('partials/footer') -%>
